@import '../../commonstyles/variables.scss';

.mainContainer {
    min-height: 100vh;
    max-width: 1020px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    footer {
        margin-top: auto;
        font-size: 0.85rem;
        color: $text-secondary;
        padding-top: 20px;
        .socialIcons {
            i {
                padding: 8px;
                &:hover {
                    color: $text-primary;
                    cursor: pointer;
                }
            }
        }
    }
    .brandName {
        font-size: 25px;
    }

    @media only screen and (max-width: 767px) {
        .deskTopNav {
            display: none;
        }
        footer {
            display: flex;
            flex-direction: column-reverse;
            font-size: 0.7rem;
            text-align: center;
            .socialIcons i {
                padding: 20px;
            }
        }
    }
}
